@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title Weather</title>
  @Styles.Render("~/Content/bootstrap")
</head>
<body>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")

  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer></footer>
  </div>

</body>
</html>